<h1>Build a new Retailer</h1>

<%= render partial: "shared/error_display", locals: {object: @retailer} %>

<%= form_for @retailer do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :year_established %>
    <%= f.number_field :year_established %>

    <div>
        <h3>Snacks</h3>
        <%= f.fields_for :snacks do |snack| %>
            <div>
                <%= snack.label :name, "Snack Name" %>
                <%= snack.text_field :name %>
                <%= snack.label :calories %>
                <%= snack.number_field :calories %>
                <%= snack.label :deliciousness %>
                <%= snack.select :deliciousness, (1..10) %>
            </div>
        <% end %>
    </div>
    <%= f.submit "Submit" %>
<% end %>