<%= form_with(model: burger, local: true) do |form| %>
  <% if burger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(burger.errors.count, "error") %> prohibited this burger from being saved:</h2>

      <ul>
      <% burger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :temp %>
    <%= form.text_field :temp %>
  </div>

  <div class="field">
    <%= form.label :protein %>
    <%= form.text_field :protein %>
  </div>

  <div class="field">
    <%= form.label :cheese %>
    <%= form.check_box :cheese %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
