<h1><%= logged_in_user %>'s Snacks Index Page</h1>


My favorite cookie is: <%= cookies['favorite'] %>
My secret favorite cookie is <%= session['favorite'] %>

<ul id="snack-list">
<% @snacks.each do |snack| %>
    <li class="blue"><%= link_to snack.name, snack_path(snack) %></li>
<% end %>

</ul>

<%= link_to "New Snack", new_snack_path %>