<h1><%= @snack.name %></h1>

<h3>Calories: <%= @snack.calories %></h3>
<h3>Deliciousness: <%= @snack.deliciousness %></h3>
<% if @snack.retailer %>
    <h3>Made by: <%= link_to @snack.retailer.name, retailer_path(@snack.retailer) %></h3>
<% end %>
<%= link_to "Edit Snack", edit_snack_path %>
<%= link_to "Index Page", snacks_path %>

<%= form_tag @snack, method: "DELETE" do %>
    <%= submit_tag "Delete" %>
<% end %>

